.title {
  font-size: 1.25rem;
  margin: 0;
}

.title-black-bg {
  color: white;
  background-color: black;
}

.title-span-left {
  padding-right: 0.3125rem;
}

.title-span-right {
  padding-left: 0.3125rem;
}

@media (width <= 820px) {
  .title {
    font-size: 16px;
    text-align: center;
  }
}
